# NXT patches

# This is an example of <jBART folder>/data/patches/patch_data.conf file 
# To use this repo you must add the line:
#
# github::MI-Global/MIUI.v8.Patches.Smali=MI-Global .smali patches
#
# to file <jBART folder>/data/settings/repo.miui.v8.patch.conf.
# In this case all patches will be downloaded each time.
# If you want to remove some patches just comment or delete them in this list below.

# Common patches for all devices
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/BackupConnectionError.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/ExtendedRebootMenu.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/DisablePasteSpaces.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Browser/Localize.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Camera/EnableMuting.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Contacts/ContactsMultiLine.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Contacts/ContactsMultiLine1.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Contacts/FIOSorting.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Contacts/RemoveComma.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Contacts/T9.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/DNDFloatingNotifications.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/FixUSSDError.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/GodzillaUI.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/greeshan/BatteryInfo.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/greeshan/IconsInAdvanceSettings.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/greeshan/LocatonQualcomm.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/greeshan/NoSafeMediaVolume.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/greeshan/ProxySettingsInDefPrefs.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/KeyguardSwypeToDialer.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/MmsCharsCount.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Music/International.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Music/LocalTabDefault.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Music/MediaButtonsPriority.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/MiuiHome/HideRecommended.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/MiuiHome/SearchDialog.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/CleanMaster.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/RootAccessShortRequest.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/EnableRootForGlobal.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Services/DisableMIUISelfProtection.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Services/DisableSignaturesCheck.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Services/LEDColorCharging.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Services/LEDNotificationPriority.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/AddRootShellCommand.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/AppsInstallLocation.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/AppsInstallLocation1.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/EnableHeadsetSettings.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/EnablePrintSettings.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/IconsInAddSettings.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/MuteChargerSound.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/MuteChargerSound1.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/MuteVolumeControl.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/MuteVolumeControl1.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/MuteVolumeControl2.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/MuteVolumeControl3.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/PersonalSettingsCategoryName.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/OnscreenButtons.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Settings/OnscreenButtons1.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Themes/DoNotDeleteMtz.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Themes/TranslateTabs.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Video/DisableOnline.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Video/InternationalBuild.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Video/DisableUpdate.ptch";

# Patches for device lcsh92_wet_jb9 (and all phones with MTK6592 as lcsh92_wet_jb9 is their parent)
#include "%patches_dir%/../../_temp/repositories/patches/device/lcsh92_wet_jb9/nxt/Camera/EnableSecondStorage.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/lcsh92_wet_jb9/nxt/Services/BrightnessMod.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/lcsh92_wet_jb9/nxt/Services/FixMount.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/lcsh92_wet_jb9/nxt/Settings/CRTAnimation.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/lcsh92_wet_jb9/nxt/Settings/CRTAnimation1.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/lcsh92_wet_jb9/nxt/Settings/DisableHotspotTimer.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/lcsh92_wet_jb9/nxt/Settings/MTKEngineerMode.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/lcsh92_wet_jb9/nxt/Settings/USBConnectionModes.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/lcsh92_wet_jb9/nxt/Settings/VolumeButtonsSwitchTrack.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/lcsh92_wet_jb9/nxt/Settings/VolumeButtonsSwitchTrack1.ptch";

## Patches for device JY-G4S
#include "%patches_dir%/../../_temp/repositories/patches/device/JY-G4S/nxt/CustomOTA.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/JY-G4S/nxt/PartitionOrder.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/JY-G4S/nxt/SmartWake/SmartWake.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/JY-G4S/nxt/SmartWake/SmartWake1.ptch";
#include "%patches_dir%/../../_temp/repositories/patches/device/JY-G4S/nxt/SmartWake/SmartWake2.ptch";

# local patches
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Weather/LocaleFix.ptch";
include "%patches_dir%/../../_temp/repositories/patches/main/nxt/Weather/AccuWeather.ptch";
